  .container {
    width: 100%;
    height: 100%;
    top:0px;
    right:0px;
    left:0px;
    bottom:0px;
    background: black;
    position: absolute; 
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 0 2rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main {
    position: relative;
    width: 100%; 
    height: 100%;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    background: black;
    width: 100%;
    position: relative;
  }

  .linkList {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

  .navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    list-style: none;
  }

  .navItem {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700 400;
    color: white;
  }

  .navName:hover {
    color: goldenrod;
    text-decoration: none;
  }
  
@media screen and (max-width:599px){
  .container {
    padding: 0 1rem;
    border: solid 1px rgb(100,100,100);
  }

  .navList {
    width: 90%;
  }

  .linkList {
    justify-content: center;
  }
}